.header {
    color: black;
    font-weight: bold;
    height: 100px;
    padding: 26px 100px;
}

.header span {
    display: block;
}

.logo {
    float: left;
}

.links {
    float: right;
}

ul.menu-item {
    list-style: none;
    float: left;
}

ul.menu-item li {
    display: inline;
    padding: 0 20px;
}

.menu-item li a {
    color: #333333;
}

.menu-item li.active a {
    color: #00AEEF;
}

.btn-theme {
    background-color: #00aeef;
    border: medium none;
}

.identity {
    background-image: url("../images/Pic1.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 680px;
}

.identity .text-upper {
    font-size: 80px;
    font-weight: 100;
    padding-left: 100px;
    padding-top: 160px;
    padding-bottom: 15px;
}

.identity .text-lower {
    /*padding-left: 100px;*/
    color: #00aeef;
    font-size: 30px;
    font-weight: 500;
    padding-left: 100px;
}

@media screen and (max-width: 650px) {
    .identity .text-upper {
        font-size: 55px;

    }
}

.statistics {
    background: #333333 none repeat scroll 0 0;
    color: white;
    /*height: 300px;*/
    padding: 50px 50px 50px 100px;
}

.statistics .text-top {
    font-size: 30px;
    padding-bottom: 30px;
}

.statistics .stats-block {
    display: inline-block;
    width: 24%;
    text-align: left;
}
@media screen and (max-width: 900px) {
    .statistics .stats-block {
        width: 49%;
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 500px) {
    .statistics .stats-block {
        width: 90%;
        text-align: center
    }
}

.stats-block span {
    display: block;
}

.stats-block .numeric {
    font-size: 44px;
    font-weight: 600;
}

.stats-block .textual {
    font-size: 24px;
}

.about-us {
    background-image: url("../images/Pic2.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 50px 100px;
    /*height: 730px;*/
}

.about-us .text-top {
    font-size: 30px;
    color: #ffffff;
    font-weight: 100;
    padding-bottom: 20px;
}

.about-us .text-description {
    color: white;
    font-size: 65px;
    font-weight: 100;
}

@media screen and (max-width: 1010px) {
    .about-us .text-description {
        font-size: 50px;
    }
}

.about-us-block {
    display: inline-block;
    /*float: left;*/
    vertical-align: top;
    margin-top: 50px;
    width: 18%;
}

.about-us-block span {
    display: block;
    text-align: left;
}

.about-us-block .textual {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10%;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .about-us {
        padding-right: 20px;
    }
}
@media screen and (max-width: 750px) {
    .about-us-block {
        width: 30%;
    }
    .about-us-block-container {
        text-align: center;
    }

    .about-us .text-description {
        font-size: 35px;
    }
}

@media screen and (max-width: 500px){

    .about-us .text-description {
        font-size: 25px;
    }
    .about-us-block img {
        width: 75px;
    }
    .about-us-block .textual {
        font-size: 12px;
    }
}

.brands {
    padding: 50px 100px 50px 100px;
}

.brands .text-top {
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 20px;
}

.brands-block span {
    display: inline-block;
    /*float: left;*/
    text-align: left;
    width: 18%;
    vertical-align: top;
}
/*//brand*/
@media screen and (max-width: 900px) {
    .brands {
        padding-right: 20px;
    }
}
@media screen and (max-width: 750px) {
    .brands-block span {
        width: 30%;
    }
    .brands-block {
        text-align: center;
    }
}

@media screen and (max-width: 500px){

    .brands-block span img {
        width: 75px;
    }
}


.contact-us {
    background-image: url("../images/Pic3.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.contact-form {
    padding: 50px 100px;
}

@media (max-width: 500px) {
    .contact-form {
        padding: 20px 20px;
    }
}

.contact-us .text-top {
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
}

.footer {
    height: 40px;
    padding: 10px 120px 0;
    background-color: rgba(60, 60, 60, 0.5);
    color: #ffffff;
}

@media screen and (max-width: 600px){
    .footer {
        height: 80px;
    }

    .footer span {
        display: block;
        margin: 10px;
        float: none !important;
        text-align: center;
    }
}

@media screen and (max-width: 580px){
    .footer span.pull-left {
        position: absolute;
        left: 5%;
    }

    .footer span.pull-right {
        position: absolute;
        margin-top: 40px;
        text-align: center;
        left: 40%;
    }

}
