
.skin-blue .wrapper{
    overflow: visible !important;
    background-color: #F9F9F9 !important;

}
.header-content{
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    padding: 15px 15px 8px;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}
.content-wrapper{
    background-color: #f9f9f9;
    z-index: 800;
}

.form-control {
    padding-right: 30px;
    padding-left: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    left: 0;
    padding: 13px 10px;
}

.btn-circle {
    color: white;
    width: 40px;
    height: 40px;
    /*line-height: 40px;*/

    background-color: #00AEEF;
    padding:0;
    border-radius: 50%;
    border: none;
    margin: 0 3px;
}
.btn-circle:active{
    color: #000000;
}

.rounded-input-box{
    border-radius: 20px !important ;
    height: 40px;
}

.info-box-custom {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    display: block;
    padding: 4px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* info box style */
.info-box-content{
    margin: 0;
    padding: 5px 0;
    text-align: center;
    border-right: 1px solid #e4e7ec;
}

.right-border{
    border-right: 1px solid rgba(0,0,0,0.2);
}
.info-box-custom:last-child .info-box-content{
    border-right: none;
}
@media (max-width: 992px) {
    .info-box-custom:nth-child(2) .info-box-content{
        border-right: none;
    }
}

@media  (max-width: 1199px){
    .info-box-content{
        padding-left: 15%;
    }
}

.info-box-text{
    padding: 0;
    margin: 0;

}

.info-box-data{
    line-height: 1.2;
    padding: 0;
    margin: 0;
    font-size: 48px;
}

.total-follower-data-color{
    color: #00AEEE;

}

.page-view-data-color{
    color: #fc5b91;

}

.total-post-data-color{
    color: #00ff00;

}

.post-reach-data-color{
    color: #eeee00;
}

/* end info box style */

.square-box{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: -2px 3px;
}
.bg-color-blue{
    background: #4D97C2;
}
.bg-color-pink{
    background: #EA358C;
}

.bg-color-white{
    background: #D2D6DE;
}

.padding{
    padding-bottom: 5px;
}
.text-color-follower{
    color: #00d3c3;
}

.profile-image{
    width: 100px;
    border: 1px solid;
    margin-bottom: 15px;
    padding: 11px;
}
.profile-info{
    width: 180px;
    /*color: #b8c7ce;*/
}
.hr{
    /*width: 80%;*/
    height: 1px;
    width: 100%;
    color: #565656;
}
hr {
    height: 1px;
    /*color: #565656;*/
    width: 100%;
    background-color: #565656;
    border: none;
    margin-bottom: 10px;
}
.chart-info{
    padding-left: 2%;
    color: #808080;
}
@media (max-width: 500px) {
    .chart-info {
        padding-left: 2%;
    }
}

/* side bar style */

.sidebar{
    color: #999999;
    font-family: 'Raleway', sans-serif;
}

.skin-blue .sidebar a{
    color: #999999;

}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
    background-color: #2b2f3e;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a{
    color: #FFFFFF;
    background: #FF3059;
    border-left-style: hidden;
}

/* footer style sheet */

.main-footer{
    background-color: #252526;
    color: #acacac;
    /*z-index: 1000;*/
    font-size: 12px;
    margin-left: 0;
    border-top: none;
    font-family: 'Hind', sans-serif;
}
.icon-horn {
    background: url("../images/horn.png") no-repeat;
    display: inline-block;
    width: 30px;
    height: 15px;
    content: '';
    padding-left: 0;
}

/* font style  */

.font-hind{
    font-family: 'Hind', sans-serif;
    font-size: 10pt;

}

.user-status{
    border: 1px solid;
    border-radius: 15px;
    padding: 2px 0;
    width: 55%;
}

.camera{
    padding-left: 20px;
}

.box{
    border-top: none;
}
.content {
    width: 97%;
    margin-top: 5px;
}

.filter-bar{
    margin-bottom: 9px;
    /*height: 50px;*/
    background-color: #E9EAED;

}
.filter-item, .filter-item a{
    line-height: 50px;
    background-color: inherit;
    font-size: 15px;

}
.filter-item-select{
    line-height: 45px;
    background-color: #DADADA;
    border-bottom: 5px solid #989898;
}
.filter-item a.close-filter-item{
    color: #676767;
    float: right;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}

.filter-item .close-filter-item{
    line-height: 45px;
}

.close-filter-item-select{
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}
.box.box-info{
    border-top: 5px solid #00c0ef;
}
.color-gray{
    color: #808080;
}
.statistic-table tbody tr{
    width: 100%;
}
.statistic-table tbody tr td, .statistic-table thead tr th{
    padding-left: 4%;
}
.statistic-table thead tr th:first-child{
    padding-left: 12px;
}

select.country-drop-down{
    width: 75%;
    display: inline-block;
    color: #565656;
    font-weight: 400;
    padding-left: 5px;
    border: none;
    /*background: url("../images/horn.png") no-repeat right;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
th,td{
    border-left: 1px solid rgba(128, 128, 128, 0.2);
    border-right: 1px solid rgba(128, 128, 128, 0.2);
}


.statistic-box-body{
    padding: 0;
}
.statistic-box-body .table > thead > tr > th{
    border-bottom: none;
}

.sidebar-menu {
    margin-left: 9px;
    font-size: 13px;
    margin-top: 16px;
}

a.center-block.text-center.user-status.small
{
    font-size: 10px;
}

.sidebar-menu span.space-sidebar {
    padding-left: 10px;
}


.main-sidebar .sidebar-menu li.active {

    color: #FFFFFF;
    background-color: #FF3059;
    border-left-style: hidden;
}

.rights-reserved {
    font-family: Arial,Verdana,Helvetica,sans-serif;
}

.header-bottom-margin{
    margin-top: 3px;
    border-bottom: 2px solid;
    color: #dddddd;
    box-shadow: 0px 1px 4px #dddddd;
}

.welcome, .about {
    font-size: 13px;
}

.about-welcome {
    margin-bottom: 5px;
}

#world-map-markers .jvectormap-zoomin {
    top:9%;
    background: none;
    color: grey;
    font-size: 1.5em;

}

#world-map-markers .jvectormap-zoomout {
    margin-left: -50px;
    top: 16.2%;
    font-size: 1.5em;
    background: none;
    color: grey;
}

.map-chart {
    background-color: white;
}

.chart #salesChart {
    height: 300px;
}

.stat-gender, .stat-country {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.padding-zero {
    padding: 0;
}

.this-week {
    padding: 2px 10px;
    background-color: white;
}

.stat-country {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}

.box .box-body {
    padding: 0;
}

.view-country {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    padding: 0;
    font-weight: 500;
}

@media (max-width: 800px) {
    .fb-chart {
        margin: 0 12px 0 15px;
        box-sizing: border-box;
    }
}

@media (max-width: 398px) {
    .chart-male {
        margin-right: 30px;
    }
}


